site_name: xinchengo 的博客
site_url: https://xinchengo.github.io/blog-zh/
repo_url: https://github.com/xinchengo/blog-zh/
copyright: Copyright &copy; 2024 - 2026 xinchengo

theme:
  name: "material"
  custom_dir: overrides # Override comments.html to integrate Giscus
  language: zh
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    # Disable tabs for navigation
    # - navigation.tabs
    # Enable sections in the left side bar
    - navigation.sections
    # Enable code copy button for every code block
    - content.code.copy

exclude_docs: |
  playground/

markdown_extensions:
  # Mathjax support
  - pymdownx.arithmatex:
      generic: true
  # Enable ~~Strikethrough~~
  - pymdownx.tilde
  # Enable ==Hightlight==
  - pymdownx.mark

  # Configure slugify to not strip out non-ASCIIharacters
  - toc:
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: none

  # Admonition (call-out) support
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  # Footnotes support
  - footnotes

plugins:
  # Automatically self-host external assets
  - privacy:
      assets_exclude:
        - cdn.jsdelivr.net/npm/mathjax@4/*
        - giscus.app/*
  # Add suppport for adding the date of last update and creation of a document
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true
  - meta # support for .meta.yml
  - search:
      lang: zh
  - blog:
      blog_dir: .
  # Support for Obsidian style callouts
  - callouts

extra_javascript:
  # Mathjax support
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xinchengo/
    - icon: fontawesome/brands/qq
      link: http://wpa.qq.com/msgrd?v=3&uin=2773315798&site=qq&menu=yes
